@import "~bulma/sass/utilities/_all.sass";

.ecosystem-slider{
    background: #E3E3E3E3 !important;
    position:relative
}

.ecosystem-slider .slick-next {
    right: 20px !important;
    @include touch{
        bottom: 70px !important;
        top:auto
    }
}

.ecosystem-slider .slick-prev {
    left: 20px !important;
    @include touch{
        bottom: 70px !important;
        top:auto
    }
}
.div-circle{
    max-width: 500px;
    min-height: 800px;
    border: 2px solid red;
    margin: 50px auto;
}
.circle-container {
    position: relative;
    width: 20em;
    height: 20em;
    max-height: 20rem;
    padding: 2.8em;
    border: dashed 1px;
    border-color: black;
    border-radius: 50%;
    margin: 1.75em auto ;
}
