@import "~bulma/sass/utilities/_all.sass";

.ecosystem-slider{
    background: #E3E3E3E3 !important;
    position:relative
}

.ecosystem-slider .slick-next {
    right: 20px !important;
    @include touch{
        bottom: 70px !important;
        top:auto
    }
}

.ecosystem-slider .slick-prev {
    left: 20px !important;
    @include touch{
        bottom: 70px !important;
        top:auto
    }
}
.div-circle{
    margin-top: 10vh;
    max-width: 500px;
    min-height: 800px;
    margin: 120px auto;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.circle-container {
    width: 20em;
    height: 20em;
    max-height: 20rem;
    margin: 1.75em auto ;
}

@include mobile{

    #ecosystem {
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: center;
    }


    .div-circle{
        margin-top: 10vh;
        justify-content: center;
        flex-direction: column;
    }
    .circle-container {
        width: 20em;
        height: 20em;
        max-height: 20rem;
        padding: 2.8em;
    
        border-radius: 50%;
        margin: 1.75em auto ;
    }

    .margintop {
        margin-top: 80px;
    }

    #ecosystem-slider .slick-list{
        padding: 85px  !important;

    }
    #ecosystem-slider .slick-track{
        height: 500px !important;
        padding-top: 180px  !important;

    }
}