@import "~bulma/sass/utilities/_all.sass";

$blue: #29abe2;
$green:#6ED59F;
$coral: #f09c77;

.hero-slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .hero-body {
        height: max-content;
    }
    .slider-icon {
        display: inline-block;
        height: 70px;
    }
    .slider-image-description {
        font-size: $size-7;
        position: absolute;
        bottom: 50px;
        left: 50px;
        max-height: unset;
    }
}
.hero.is-fullheight.is-primary {
    background-image: none;
    background-color: transparent;
    height: max-content;
}

.hero.is-primary .title.hero-slider-coral{
    color: $coral;
}

.hero.is-primary .title.hero-slider-green{
   color: $green
}

.hero.is-primary .title.hero-slider-blue{
    color: $blue

}

.slick-prev{
    left: 0 !important;
    @include touch{
        bottom: 70px !important;
        top:auto
    }
}

.slick-next{
    right: 0 !important;
    @include touch{
        bottom: 70px !important;
        top:auto
    }
}

.slick-dots {
    bottom: 2rem;
    li button:before {
        color: white;
        font-size: 0.8rem;
    }
    li.slick-active button:before {
        color: white;
    }
}
//  evidentemente es la clases .product
// podriamos probar ocn calc() o con javascript que calcul oel ancho de la pantalla y l oasigne aca
//esta clase ancho luego se toma en una prop clasName del react-slick (slider)
.ancho{
    .slick-list .slick-track .product{
        width: 1800px !important;
    }
}
.products-slider .slick-next {
    right: 20px !important;
    width: 15px;
    &:before {
        content: none !important;
    }
}

.products-slider .slick-prev {
    left: 20px !important;
    z-index: 1;
    width: 15px;
    &:before {
        content: none !important;
    }
}

.slick-disabled {
    opacity: 0.5;
}

.products-slider .slick-track{
    display: flex !important;
    align-items: stretch;
}

.products-slider .slick-slide{
    display: flex !important;
    height: auto !important;
}


.products-slider .slick-slide > div:first-of-type{
   display: flex
}

@include mobile {
    .slick-next {
        right: 0.5rem;
    }
    .slick-prev {
        left: 0.5rem;
    }
    .hero-slider-item {
        .slider-image-description {
            left: auto;
            right: 20px;            
            max-height: 180px;
        }
    }
}

@include touch {
    .hero-slider-item {
        min-height: 100vh;
        .slider-icon {
            margin-bottom: 2rem;
        }
    }
}

@include desktop {
    .hero-slider-item {
        .slider-icon {
            margin-bottom: 2rem;
        }
    }
}

@include widescreen {
    .hero.is-large {
        .hero-slider-item {
            .hero-body {
                padding-left: 18rem;
                padding-right: 18rem;
            }
        }
    }
}

@media screen and (max-height: 600px){
    .slider-icon {
        margin-bottom: 0px !important;
    }
}

