@import "~bulma/sass/utilities/_all.sass";

.ecosystem .hexagono img {
  width: 70%;
  margin: auto;
}

@include mobile {
  .hexagono-mobile-container {
    position: relative;
    padding-left: 0;
    .image {
      width: 80%;
    }
  }

  .ecosystem .hexagono {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      margin: auto;
    }
  }
}
