.blogContent {
  // background-color: #262626;
  background-color: #E8E8E8;
  .post-banner {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .post-banner-overlay {
      display: flex;
      align-items: center;
      padding-left: 15px;
      height: 50px;
      background-color: rgb(103 103 103 / 80%);
      color: #000;
      .breadcrumb a {
        color: #fff;
      }
    }
  }
  .blog-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .post-content {
    width: 80%;
  }
  .post-info {
    width: 20%;
  }
  & h1 {
    color: #000;
  }
}

@media screen and (max-width:768px) {
  .blog-container {
    flex-direction: column-reverse !important; 
  }
}