@import "~bulma/sass/utilities/_all.sass";

h1{
    color: white;
}

.contain-consejo{
    background-color: #88CBFF !important;
}
@include tablet {

  #council{
    // max-width: 150px;
    margin: 20px auto;
    width: 950px;
}

#council .px-3{
    padding-left: 2.75em !important;
}

}
#council:nth-child(6){
  margin: 50px 0;
}
// Backgrtound Hexágono
.dardo-bg:before{
    background:url(./assets/DardoCeballos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .juan-bg:before {
    background:url(./assets/Juancruzzorsolli.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .martin-bg:before {
    background:url(./assets/MartinGalanternik.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .monica-bg:before {
    background:url(./assets/MonicaVillegas.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .natalia-bg:before {
    background:url(./assets/NataliaCarfi.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .yanina-bg:before {
    background:url(./assets/YanninaWelp.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  