.title:after {
  display: block;
  content: ' ';
  height: 3px;
  margin: 1rem 0;
  width: 35px;
  background-color: #000;
}

// Hexágono

.hex-container {
  overflow: hidden;
  display: inline-block;
  margin: 2em 0;
  width: 15em; height: 15em;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: .5em;
}

.hex-container *, .hex-container *:before {
  display: block;
  overflow: hidden;
  width: inherit; height: inherit;
  border-radius: inherit;
}

.hex-container-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  cursor: pointer;
}

.hex-container:first-child .hex-container-inner:before, .hex-container-inner-2 {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  background: orange;
  content: '';
}

.hex-container-inner-2{
    position:absolute;
    top:0
}

.hex-container-inner-2:before {
  margin-top: -0.5em;
  height: 18em;
  transform: skewX(-30deg) rotate(-90deg);
  background: url(https://assets.codepen.io/2017/17_05_a_amur_leopard_34.jpg);
  content: '';
}


@media screen and (max-width:480px) {
  .hex-container {
    width: 14em; height: 12.32em;
  }

  .hex-container-inner-2:before {
    height: 15em;
  }  
}

// Backgrtound Hexágono
.team-bg:before{
  background:url(./assets/team.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mau-bg:before {
  background:url(./assets/mau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hex-container-inner-2.agustin-bg:before {
  background:url(./assets/agustin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.florencia-dir-bg:before {
  background:url(./assets/florencia-dir.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.florencia-presi-bg:before {
  background:url(./assets/florencia-presi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.powa-bg:before {
  background:url(./assets/powa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.guille-bg:before {
  background:url(./assets/guille.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.vale-bg:before {
  background:url(./assets/vale.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.alvaro-bg:before {
  background:url(./assets/alvaro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.agustina-bg:before {
  background:url(./assets/agustina.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


.juli-bg:before {
  background:url(./assets/juli.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.diego-bg:before {
  background:url(./assets/diego.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.niqui-bg:before {
  background:url(./assets/niqui.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fede-bertero-bg:before {
  background:url(./assets/fede-bertero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.esteban-bg:before {
  background:url(./assets/esteban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.mariano-bg:before {
  background:url(./assets/mariano.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ceci-bg:before {
  background:url(./assets/ceci.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.pasutti-bg:before {
  background:url(./assets/pasutti.png);
  background-size: cover;
  background-repeat: no-repeat;
}