#hexagono {
    
    // min-width: 300px;
    height: 335px;
    max-width: 249px;
    max-height: 155px;
    background: red;
    position: relative;
}
#hexagono:before {
    content: "";
    position: absolute;
    top: -67px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 0 125px 67px;
    border-style: solid;
    border-color: transparent transparent red;
}

#hexagono:after {
    content: "";
    position: absolute;
    bottom: -67px;
    left: 0;
    width: 0;
    height: 0;
    border-width: 67px 125px 0;
    border-style: solid;
    border-color: red transparent transparent;
}

// #hexagono , #hexagono:before, #hexagono:after {
//     min-width: 200px;
//     min-height: 200px;
// }

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.contenido .texto{
    min-height: 127px;
}
.contenido .link{
    height: 20%;
}