@import "~bulma/sass/utilities/_all.sass";

// #hexagono {
    
//     // min-width: 300px;
//     height: 335px;
//     max-width: 249px;
//     max-height: 155px;
//     background: red;
//     position: relative;
// // }
// #hexagono:before {
//     content: "";
//     position: absolute;
//     top: -67px;
//     left: 0;
//     width: 0;
//     height: 0;
//     border-width: 0 125px 67px;
//     border-style: solid;
//     border-color: transparent transparent red;
// }

// #hexagono:after {
//     content: "";
//     position: absolute;
//     bottom: -67px;
//     left: 0;
//     width: 0;
//     height: 0;
//     border-width: 67px 125px 0;
//     border-style: solid;
//     border-color: red transparent transparent;
// }

// #hexagono , #hexagono:before, #hexagono:after {
//     min-width: 200px;
//     min-height: 200px;
// }

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: relative;
    align-items: center;}

// #hexagono:hover .contenido{
//     visibility: visible !important;
// }
.contenido .texto{

    color:#000;
    min-height: 135px;
    max-height: 300px;
    overflow: auto;
    text-align: center;
    padding: 5px;
    
}
.contenido .vertical-center{
    display: flex;
    align-items: center;
    color:#000;
    max-height: 135px;
    overflow: auto;
    text-align: center;
    padding: 5px;
}
.contenido .texto::-webkit-scrollbar{
    width: 5px !important;
    background-color: none;
}
.contenido .texto::-webkit-scrollbar-thumb{
    background-color: #1e1e1c7c;
    border-radius: 100px;

}

.contenido .link{
    color:#fff;
    width: 60%;
    height: 20%;
    background-color: #000;
    border-radius: 40px;
    position: absolute;
    bottom: -35px;
    left: 52px;
    z-index: 2000;
}

#hexagon:hover{
    z-index: 5000;
}
.deg0 { transform: translate(11em, -15em) ; }/* 12em = 1/2 anchura del contenedor */
.deg45 { transform: translate(-1.5em, -12em); }
.deg135 { transform: translate(11em, -9em); }
.deg180 { transform:translate(-1em, -13em); }
.deg225 { transform: translate(-14em, -28em) ;}
.deg315 { transform: rotate(344deg) translate(-15em) rotate(16deg); }


@include mobile {
    .contenido {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;}
    
    // #hexagono:hover .contenido{
    //     visibility: visible !important;
    // }
}