#datosenfuga {
  background-color: #000;
  background-image: url("./datosenfuga.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 702px;
  padding: 5% 10%;

  .datosenfuga {
    &__title {
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 28px;
      }
    
      .underline {
        background-color: #fff;
        border: 2px solid #fff;
        width: 50px;
        margin-top: 10px;
        margin-left: 5px;
      }
    }
  
    &__subtitle {
      margin-top: 60px;
  
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        text-align: left;
      }
  
      button {
        margin-top: 35px;
        background: #F7EC86;
        border-radius: 23.9841px;
        font-weight: 500;
        font-size: 19.1873px;
        line-height: 34px;
        width: 250px;
        height: 60px;

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #datosenfuga {
    padding-top: 65px;
    background-position: top right;
    background-size: 50%;
  }
}
