$family-sans-serif: "Lexend Deca", sans-serif;
$navbar-background-color: transparent;
$navbar-item-color: #FFF;
$navbar-item-hover-color: #FFF;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: #FFF;
$navbar-height: 5rem;
$title-weight: 400;
$subtitle-weight: 400;
$subtitle-line-height: 1.5;
$size-2: 2.4rem;
$size-4: 1.75rem;
$size-5: 1.13rem;
$size-6: 1rem;
$grey-dark: #4d4d4d;
$red: #f15a24;
$orange: #FF9B73;
$blue:#88CBFF;
$pink: #FF7990;
$green: #69D69D;
$purple: #BB86FC;
$yellow:#F7EC86;
$button-disabled-shadow:none;

