// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

// FontAwesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "./generalSet.scss";
// Update Bulma's global variables

// Import only what you need from Bulma
@import "~bulma/bulma.sass";

.list-title {
    text-transform: uppercase;
    letter-spacing: 3.2px;
}
.list {
    list-style-type: disc;
    color: black;
    li {
        margin-left: 1rem;
    }
}

.button {
    box-shadow: 3px 3px 5.4px 0 rgba(0, 0, 0, 0.21);
    margin: 2rem auto;
    display: block;
}

.has-text-underline {
    text-decoration: underline;
}

.image.is-centered{
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

hr{
    background-color: $grey-dark;
}
.section{
    padding:6rem
}

h1{
    font-size: 34px;
}

h2{
    font-size: 20px;
}

p{
    font-size: 16px;
    white-space: pre-wrap;
}

/*Text Color*/

.has-text-yellow{
    color: $yellow;
}

.has-text-green{
    color:$green
}
.has-text-purple{
    color:$purple
}

.title.has-text-green::after {
    background-color:$green;
}

.title.has-text-white::after {
    background-color:$white;
}

/***** Backgrounds *****/

.has-background-orange{
    background-color: $orange
}

.has-background-blue{
    background-color: $blue;
}

.has-background-purple{
    background-color: $purple;
}

.has-background-yellow{
    background-color: $yellow;
}

.has-background-green{
    background-color: $green;
}

.has-background-pink{
    background-color: $pink;
}

.has-no-background{
    background: none;
}

.has-background-black{
    background-color: #0a0a0a
}
.has-background-verde{
    background-color: #69D69D
}
.has-background-lila{
    background-color: #E7B4F1;

}
.has-background-celeste{
    background-color: #88CBFF
}
/* Slick Slider */

.slick-slider,
.slick-list,
.slick-track {
    height: max-content ;
}

.slick-dots {
    bottom: 2rem;
    li button:before {
        color: white;
        font-size: 0.8rem;
    }
    li.slick-active button:before {
        color: white;
    }
}

.slick-next {
    right: 2rem;
    width: 20px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(30%) contrast(102%);
    &:before {
        content: none !important;
    }
}

.slick-prev {
    left: 2rem;
    z-index: 1;
    width: 20px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(30%) contrast(102%);
    &:before {
        content: none !important;
    }
}

.slick-disabled {
    opacity: 0.5;
}

@include mobile {
    .slick-next {
        right: 0.5rem;
    }
    .slick-prev {
        left: 0.5rem;
    }
    .hero-slider-item {
        .slider-image-description {
            left: auto;
            right: 20px;            
            max-height: 180px;
        }
    }
}

@include touch {
    .hero-slider-item {
        height: 100vh;
        .slider-icon {
            margin-bottom: 2rem;
        }
    }
}

@include desktop {
    .hero-slider-item {
        .slider-icon {
            margin-bottom: 2rem;
        }
    }
}

@include widescreen {
    .hero.is-large {
        .hero-slider-item {
            .hero-body {
                padding-left: 18rem;
                padding-right: 18rem;
            }
        }
    }
}

@media screen and (max-height: 600px){
    .slider-icon {
        margin-bottom: 0px !important;
    }
}

/*---------------------*/

@media screen and (max-width: 480px) {
    .section{
        padding: 6rem 2rem
    }

    h1, .title{
        font-size: 24px;
    }
    
    h2{
        font-size: 20px;
    }
    
    p{
        font-size: 16px;
    }
    
}