@import "~bulma/sass/utilities/_all.sass";

.us-section {
    background-color: #00d1b2;
}

@include desktop {
    .us-section {
        .hero-body {
            padding-left: 18rem;
            padding-right: 18rem;
        }
    }
}

.us-section .hex-container {
    width: 20em; height: 20em;
    @include until ($desktop){
        width: 15em; height: 15em;
    }
}

.us-section .hex-container-inner-2::before {
    margin-top:0;
    height: 20rem;
    @include until ($desktop){
        margin-top:0;
        height: 15rem;        
    }
}

