@import "~bulma/sass/utilities/_all.sass";
@import "../../pages/generalSet.scss";

.navbar {
    transition: background-color 0.3s ease;
    // position: absolute;
    width: 100%;
    background-color: #000;
}
.navbar-item img{
    max-height: 3rem !important;
}
.navbar-burger {
    border: none;
    background-color: transparent;
    outline: none !important;
    margin-right: 1rem;
    margin-top:.5rem;
    span {
        width: 30px;
        height: 2px;
        &:nth-child(1) {
            top: calc(50% - 14px);
        }
        &:nth-child(2) {
            top: calc(50% - 5px);
        }
    }
    &.is-active {
        &:hover {
            background-color: transparent;
        }
        span {
            &:nth-child(1) {
                transform: translateY(14px) rotate(45deg);
            }
            &:nth-child(3){
                transform: translateY(-3px) rotate(-45deg);
            }
        }
    }
    &:hover {
        color: #FFF;
    }
}

.navbar-brand {
    .navbar-item {
        font-size: 1.75rem;
    }
}

.navbar-item {
    border: none;
    background: none;
    outline: none !important;
    font-size: 1rem;
}

.navbar-menu{
    .menu-logo{
        display: none;
    }
    .navbar-start{
        .media-wrapper{
            display: none;
           }
    }
    .navbar-brand{
        display: none;
    }
    .footer-navbar{
        display: none;
    }
}

@include desktop {
    .navbar {
        // margin-top: 1.5rem;
        justify-content: space-between;
        // top: -26px;
        .navbar-item {
            font-size: 18px;
        }
    }

    .navbar-menu {
        flex-grow: 0;
        
        .navbar-start {
            align-items: center;
            margin-right: 2rem;
            
        }
        .left-wrapper {
            position: absolute;
            left: 1.5rem;
        }
        .lang-switch {
            position: relative;
            bottom: auto;
        }
        .navbar-item {
            padding: 0.4rem 1.25rem;
            margin-top: 0.3rem;
            display: inline-block;
            margin-left: 1rem;
            cursor: pointer;
            &.navbar-item-lang {
                font-size: 13px;
                letter-spacing: 2px;
                padding: 0.4rem;
                &:last-of-type {
                    padding-right: 2rem;
                }
            }
            &:not(.contact){
                &:hover {
                    text-decoration: underline;
                }
            }
            &.contact {
                border-radius: 20px;
                border: 1px solid white;
                &:hover {
                    background-color: white;
                    color: black;
                    box-shadow: 2.7px 2.7px 4.8px 0 rgba(0, 0, 0, 0.21);
                }
            }
        }
 
    }
    @media screen and (min-width: 1024px){
        .is-size-2-desktop {
            right:100px;
        }
    }        
}
@media screen and (max-width: 1278px){


    .navbar-brand {
        left: 6rem;
    }


    .navbar-menu {
        box-shadow: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: #4d4d4d!important;
        width: min-content;
        &.is-active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .menu-logo{
            display: block;
            img{
                max-height: 3rem !important;
            }
        }
        .navbar-item {
            padding: 0.2rem 0.75rem;
            margin-left: 1rem;
        }
        .navbar-brand{
            display: flex;
                .navbar-burger{
                    margin-top: 0;
                }
        }
        .footer-navbar{
            padding: 1rem 2rem;
            display: block;
            
        }
    }
    .navbar-start {
        position: relative;
        display:flex;
        align-items: start!important;
        flex-direction: column;
        margin-right: 2rem;
        p {
           position: fixed;
           bottom: 2rem;
           left: 1rem;
           right: 3rem;
       }
       .media-wrapper{
        display: flex!important;
       }
    }
    .lang-switch {
        position: absolute;
        bottom: -30px;
    }
    .navbar-item-lang {
        display: inline-block;
    }
  
}

@media screen and (max-width: 576px){

    .navbar-start {
       .media-wrapper{
        flex-wrap: wrap;
       }
    }
    .navbar-menu{
        &.is-active{
            width: 100%;
        }
    }
}