.team-slider.hero.is-fullheight.is-primary{
    background: #69D69D;
}

.team-slider .slick-slider,
.team-slider .slick-list,
.team-slider .slick-track {
    height: max-content;
}

.slick-dots li button:before {
    color: #000;
}

@media screen and (max-width: 768px){
    .title.our-team{
        padding-left: 0 !important;
    }

}