@import "~bulma/sass/utilities/_all.sass";

@font-face {
    font-family: 'Lexen Deca';
    src: url("/public/assets/LexendDecaRegular.ttf") format("truetype");
}
.background-lazy-dark{
    background-color: #1E1E1C !important;
}
.footer {
    .title,
    .subtitle,
    a {
        color: white;
    }
    a {

        // font-family: 'Lexen Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-decoration-line: underline;
        
        color: #FFFFFF;
        
    }
    .footer-link {
        line-height: 24px;
    }
    .footer-link {
        font-size: 14px;
    }
    .subtitle{
        font-family: 'Lexen Deca';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        color: #FFFFFF;
    }
    .description{
        font-family: 'Lexen Deca';
        font-style: normal;
        font-weight: 300;
        font-size: 16px !important;
        line-height: 24px;
        
        color: #FFFFFF;
    }
    .sub-description{
        font-family: 'Lexen Deca';
        font-style: italic;
        font-weight: 300;
        font-size: 14px !important;
        line-height: 24px;
        
        color: #FFFFFF;
    }
    p{
        color: #9E9D9C;

    }
}
.social a{
    text-decoration-line: none;

}
// a .fab {
//     font-size: 2rem !important;
// }
a .fa-linkedin:hover {
    color: $red;
}
a .fa-twitter:hover{
   color: $orange;
}
a .fa-instagram:hover {
    color:$yellow;
}
a .fa-github:hover {
    color: $green;
}
a .fa-youtube:hover {
    color: $blue;
}
a .fa-medium-m:hover {
    color: $purple;
}
.orga{
    p {
        width: 80%;
    }
}
.navbar-item {
    border: none;
    background: none;
    outline: none !important;
    font-size: 1rem;

    &:not(.contact){
        &:hover {
            text-decoration: underline;
        }
    }
    &.contact {
        border-radius: 20px;
        border: 1px solid white;
        &:hover {
            background-color: white;
            color: black;
            box-shadow: 2.7px 2.7px 4.8px 0 rgba(0, 0, 0, 0.21);
        }
    }
}
