@import "~bulma/sass/utilities/_all.sass";

.social-media-nav{
    position:absolute;
    bottom:0;
    width: 100%;
    margin-bottom: calc(5vh + 1.5rem); // divider height + slighty lesser slider dots positioning height
    // @include touch{
    //     bottom:50vh
    // }
}