@import "~bulma/sass/utilities/_all.sass";

.press-slider.hero.is-fullheight.is-primary{
    background: #69D69D;
}

.press-slider .slick-slider,
.press-slider .slick-list,
.press-slider .slick-track {
    height: max-content;
}
.press-slider .slick-dots{
    bottom: 0;
}
.press-slider .slick-list{
    margin-left:1rem;
    margin-right: 1rem;
}
.slick-dots li button:before {
    color: #000;
}

.press-slider .slick-prev,.press-slider .slick-next{
    top:30% 
}
.press-box{
    height:940px;
    width: 100%; 
    overflow: hidden;
    display: grid; 
    grid-template-columns: 389px 390px 390px; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 9px 9px; 
    grid-template-areas: 
      ". . . "
      ". . . "
      ". . . "; 
  

}
.pos-right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  
  }

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
 }
@include touch{
    .title.our-press{
        padding-left: 0 !important;
    }
    .press-slider .slick-prev {
        left: 20px !important;
        bottom: 70px !important;
        top:auto;
        left: auto !important
    }
    .press-slider .slick-next {
        right:20px !important;
        bottom: 70px !important;
        top:auto
    }
    .press-slider .slick-list{
        margin-left:0;
        margin-right:0;
    }
    .press-box{
        height:940px;
        width: 100%; 
        overflow: hidden;
        display: grid; 
        grid-template-columns: 389px  ; 
        grid-template-rows: 1fr; 
        gap: 9px 9px; 
        grid-template-areas: 
          "."
          "."
          "."; 
      
    
    }
}