@import "~bulma/sass/utilities/_all.sass";


.us-header{
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1000% ;
    position: relative;
    overflow: hidden;
}

.us-header .subtitle{
    max-width:700px
}

.us-header::before{
    content: url('./assets/der-iso-logo.png');
    position:absolute;
    top:0;
    right: -30%;
    z-index: -1;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
}
// .navbar-item ,.navbar-link{
//     color: #000 !important;
// }
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 

}
